/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 21px 'Josefin Slab', serif;
  text-align: left;
  margin: 10px;
}


h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}


/* generic */

aside {
  float: left;
  width: 200px;
  margin-right: 13px;
}

aside h1 {
  margin-bottom: 0;
}

section {
  float: left;
}

footer {
  margin-top: 10px;
  clear: both;
}